:root{
    --color-blue:#0A3871;
    --color-celeste:#F3F5FC;
    --coloe-gray:#495057;
    --color-gris:#D8DFE8;

    --color--background:var(--color-celeste);
}

body{
    background-color: var(--color--background);
    font-family: 'Inter', sans-serif;
}
textarea{
    font-family: 'Inter', sans-serif;
}
/*header*/
/*header {   
}*/

.header {
    width: 90%;
    margin: auto;
}
.header__logo{
   margin-top: 40px;
   border: var(--border-items);

}
/*Main*/
.main{
    width: 80.5%;
    margin: auto 40px auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 91px - 72px);
    align-items: end;
} 
/*left*/
.left{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingreso__texto{
    width: 80%;
    font-size: 32px;
    color: var(--color-blue);
    resize: none;
    background: none;
    border: none;
    outline: none;
}
/*.ingreso__texto::placeholder{
}*/
/*.footer__left{
}*/
.left__info{
    color: var(--coloe-gray);
    font-family: 16px;
}
.left__botones{
    display: flex;
    gap: 24px;
    margin-top: 16px;
    flex-wrap: wrap;
}
.boton__encriptar,
.boton__desencriptar,
.boton__copiar{
    border: 1px solid var(--color-blue);
    cursor: pointer;
    max-width: 328px;
    width: 40%;
    height: 67px;
    border-radius: 24px;
    background-color: var(--color-blue);
    color: white;
    font-size: 16px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.boton__encriptar{
    background-color: var(--color-blue);
    color: white;
}
.boton__desencriptar{

    background-color: var(--color-gris);
    color: var(--color-blue);
}

.Right{
    background-color: #ffffff;
    height: calc(100% + 48px);
    border-radius: 32px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
}
.Right.ajustar{
    justify-content: space-between;
}
.munheco{
    width: 100%;
}
.mensaje__final{
    background: none;
    border: none;
    outline: none;
    resize: none;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.mensaje__final.ajustar{
    text-align: left;
    font-weight: lighter;
    height: 80%;
}
.Right__info{
    color: var(--coloe-gray);
    font-size: 16px;
    text-align: center;
}
.boton__copiar{
    width: 100%;
    display: none;
    background: transparent;
    color: var(--color-blue);
}
/*.oculto{
    display: none;
}*/
/*footer {
    background-color: blueviolet;
    height: 50px;
}*/

@media screen and (max-width: 770px) {
    .main{
        grid-template-culumns:1fr;
        grid-template-rows: 75% auto;
        width: auto;
        margin: auto 40px;
    }
    .left__botones{
        justify-content: center;
    }
    .boton__encriptar,
    .boton__desencriptar{
        width: 45%;
    }
    .Right{
        height: 100%;
    }
    .munheco{
        display: none;
    }
}
    
@media screen and (max-width:500px) {
    .main{
        margin: auto 16px;
    }
    .boton__encriptar,
    .boton__desencriptar{
        max-width: nome;
        width: 100%;
    }
    
}